extends layout

block bodyHead
  p As a particle phenomenologist with a focus on computation, my research it's half way between the experimental and theoretical worlds, without fully falling in any of them. Putting it in layman terms, I use theoretical model to compute simulations that can then be tested by my experimentalist colleagues in the various experiments across the globe (most of them, actually, in Geneva (Switzerland)).
  p Of the wide world of particle physics, my work is mainly within the realm of Quantum Chromodynamics. My aim is to obtain more precise predictions with more faithful errors which can then be compared to the experiments.
  p In the computational side, my research is on Machine Learning and Monte Carlo simulations. They are all pieces of the same big puzzle: artificial intelligence is used to model the internal structure of the colliding protons, the theory of Quantum Chromodynamics allows us to model what happens after the collision. The resulting complicated integrals are then computed using Monte Carlo methods.
  p In this page you can read a bit more about what I do and also find an up to date list of all my #[a(href="#papers") papers], #[a(href="#talks") talks] and open-sourced published #[a(href="#software") software].

block content
  div.row.mb-1
    div.col-md-12
      for topic in research
        if topic.active
          div.card.flex-md-row.mb-4.box-shadow.h-md-250
            if (topic.left)
              img.card-img-left.flex-auto.d-nome.d-md-block(src=topic.thumbnail[0], width=topic.thumbnail[1], height=topic.thumbnail[2], data-holder-rendered="true")
            div.card-body.d-flex.flex-column.align-items-start
              h3.anchored.mb-0=topic.title
              p !{topic.text}
            if (!topic.left)
              img.card-img-right.flex-auto.d-nome.d-md-block(src=topic.thumbnail[0], width=topic.thumbnail[1], height=topic.thumbnail[2], data-holder-rendered="true")

  h2(id="papers") Papers
  div.table-responsive
    table.table.table-striped.table-sm(style='font-size:70%;')
      thead(style='text-align:center;')
        tr
          th.centered Title
          th Journal
          th ArXiv
      tbody
        each item in articles
          tr
            th
              a(href="https://doi.org/"+item['doi']) #{item['title']}
            th #{item['journal']} (#{item['year']} #{item['volume']})
            th
              a(href="https://arxiv.org/abs/"+item['eprint']) #{item['eprint']}
  h2(id="talks") Seminars and conferences
  div.table-responsive
    table.table.table-striped.table-sm(style='font-size:70%;')
      thead(style='text-align:center;')
        tr
          th title
          th conference
          th location
          th date
          th slides
      tbody
        each item in talks
          tr 
            th #{item['title']}
            th 
              a(href=item['url']) #{item['conference']}
            th #{item['place']}
            th #{item['date']}
            if item['slides']
              th 
                a(href=item['slides']) slides
            else
              th
  h2(id="software") Academic open-sourced Software
  div.table-responsive
    table.table.table-striped.table-sm(style='font-size:70%;')
      thead(style='text-align:center;')
        tr
          th title
          th description
          th source
      tbody
        each item in software 
          tr
            th
              a(href=item.docs) #{item.title}
            th #{item.description}
            th
              a(href=item.url) Zenodo (#{item.year})
