extends layout

block bodyHead
  p In this page you can find some of the higlights of my resume, such as a summary of my #[a(href="#experience") past work experiences] and #[a(href="#techskills") tech skills].
  | In this site you can also find information about my #[a(href="research") research interests], #[a(href="software") software projects] and #[a(href="teaching") teaching experience].
  p The full sober version of my CV can be downloaded in PDF from #[a(href="pdfs/curriculum_juan.pdf") here].

block content
  div.container.p-4
    div.row.rounded.bg-white
      div.col-sm-12
        h2.anchored.text-center(id="experience") Work experience
        p I'm currently working at physics department of the University of Milano as a postdoctoral researcher in Stefano Forte's group. Under the ERC project N3PDF.
        p My main line of research is machine learning applied to particle physics. You can find more about it in the #[a(href="research") research] section of this site.
        p I did my undergraduate degree in physics in the University of Seville, where I developed an interest for numerical calculation. Before going to Valencia for a master in theoretical particle physics I worked as a full stack developer at FamilyApp, a small startup in Seville.
        p I did my PhD at the #[a(href="https://www.ippp.dur.ac.uk") IPPP] of #[a(href="https://www.dur.ac.uk") Durham University] (UK) where I did my Ph.D. Thesis as part of the Initial Training Network #[a(href="https://higgstools.org/") Higgstools] on the second order QCD corrections to the Higgs boson VBF production. During my PhD I had the opportunity to work on the Projects and Technology branch of Shell as an intern for three months.
        p I have participated in many conferences across the world and organized three editions of the #[a(href="http://maths.dur.ac.uk/YTF") YTF] (Young Theorists Forum) held in Durham every Christmas.

  div.container.p-4
    div.row.rounded.bg-white
      div.col-sm-12(id="tech")
        h2.anchored.text-center(id="techskills") Tech skills
        p Learning new programming languages or more or less useful libraries has been one of my main hobbies for a long time. One of my main strenghs would be the ability to learn quickly to use new frameworks, languages and technologies. Here I list some of the main languages, frameworks and technologies I used in my everyday life and work.
        each desc, tech in resume.technologies
          - var iconName = iconmap[tech]
          if iconName
            - var iconId = iconName.replace(" ", "-")
            p.btn.btn-light(class=iconName, data-toggle="collapse", data-target=`#${iconId}`, aria-expanded="false", value='test')
        each desc, tech in resume.technologies
          - var hasIcon = iconmap[tech]
          if !hasIcon
            p #{tech}
        each desc, tech in resume.technologies
          - var iconName = iconmap[tech]
          if iconName
            - var iconId = iconName.replace(" ", "-")
          div.collapse.toggle(id=iconId, data-parent="#tech")
            div.card.card-body 
              b #{tech} 
              p !{desc}

  div.container.p-4
    div.row.rounded.bg-white
      div.col-sm-12
        h2.anchored.text-center(id="langs") Languages
        each language in resume.languages
          p
            i.flag(class=language.flag)
            b #{language.name}: 
            | #{language.description}
