extends layout

block bodyHead
  p I am passionate about software development. Luckily I have had the opportunity to work on this during both my academic career and "real world" experiences, some of which I have #[a(href="#pastwork") listed] below.
  p I a firm believer on free source, in a github pinned-repositories style, you can find #[a(href="#osource") here] some of the open sourced projects I have developed or contributed to in the last few years. Some of them are research tools, some are personal projects I have done in my spare time. You can see a full list of open source research software I have been involved with in the #[a(href="research#software") research page]. I'm also the maintainer of several #[a(href="https://aur.archlinux.org/packages/?K=juacrumar&SeB=m") AUR] and #[a(href="https://github.com/search?l=Markdown&q=org%3Aconda-forge+scarlehoff&type=Code") conda] packages. If you want to get to know me better, you can always look at my #[a(href="https://github.com/scarlehoff/dotvim") vimrc] configuration.
  p 
    | I have also written a few tools and webapps to make my life easier, which can be seen  #[a(href="#applets") below].
    | The full code of this website (server and client side) is also available in #[a(href="https://github.com/scarlehoff/websito") github] for #[s bots to scrap] everyone to see.


block content
  div.row
    div.col-md-12
      h2.anchored(id="osource") Open source projects
    each project in projects
      div.col-lg-6.d-flex
        div.mb-3.mr-0.card.shadow-sm.card-body
          h3.anchored
            a.text-secondary(href=project.repository) #{project.title}
          p.card-text #{project.description}
          div.d-flex.align-self-end(style='margin-top: auto;')
            div.btn-group
              a.btn.btn-sm.btn-outline-info(href=project.documentation) Documentation
              a.btn.btn-sm.btn-outline-info(href=project.repository) Source code

  h2.anchored(id="pastwork") Development work
  div.my-3.p-3.bg-white.rounded.shadow-sm
    each item in pastWork
      div.media.pt-3
        p.media-body.pb-3.mb-0.small.lh-125
          strong.d-block.text-gray-dark #{item.title}
          span !{item.description}

  h2.anchored(id="applets") Applets
  p One of the reasons I started this website was to gain some experience with javascript, since it is a very useful language for small projects and utilities. I've written several such utilities (javascript apps running of course entirely in the browser) listed below:
    div.table-responsive
      table.table.table-striped.table-sm(style='font-size:70%;')
        thead
          tr
            th title
            th description
        tbody
          tr
            th
              a(href='/publicatonDigestor') Publication digestor
            td
              Get your publications from Inspire HEP in a bureacracy-filling helping way
          //tr
          //  th
          //    a(href='todoapp') MS To Do
          //    td Fetch completed app from your MS To Do account
          tr
            th
              a(href='/stats') Map Stats
            td Map the visits received
