extends layout

block bodyHead
  p I am passionate about software development. Luckily I have had the opportunity to work on this during both my academic career and "real world" experiences, some of which I have #[a(href="#pastwork") listed] below.
  p I a firm believer on free source, you can find #[a(href="#osource") here] some of the open sourced projects I have developed or contributed to in the last few years. Some of them are research tools, some are personal projects I have done in my spare time. 
  p If you want to know me better, you can always look at my #[a(href="https://github.com/scarlehoff/dotvim") vimrc] configuration.

block content
  //div.container
    h2 About: software
    p Some more information about me and about software and about my interests
    hr

  div.container(style='padding:0px;')
    div.row.mx-auto
      div.col-md-12
        h2(id="osource") Open source projects
      each project in projects
        div.col-lg-6.d-flex
          div.mb-3.mr-0.card.shadow-sm.card-body
            h3.anchored
              a.text-secondary(href=project.repository) #{project.title}
            p.card-text #{project.description}
            div.d-flex.align-self-end(style='margin-top: auto;')
              div.btn-group
                a.btn.btn-sm.btn-outline-info(href=project.documentation) Documentation
                a.btn.btn-sm.btn-outline-info(href=project.repository) Source code

  div.container
    h2(id="pastwork") Past dev. work
    div.my-3.p-3.bg-white.rounded.shadow-sm
      each item in pastWork
        div.media.pt-3
          p.media-body.pb-3.mb-0.small.lh-125
            strong.d-block.text-gray-dark #{item.title}
            span !{item.description}

