extends layout

block bodyHead
  p I am passionate about software development and open source code. During my academic carreers I have been involved on the development of many tools with a focus on numerical calculations.
  p You can find #[a(href="#osource") here] some of the open software I have developed or contributed to develop in the last few years. Some of them are research tools, some are personal projects I have done in my spare time.
  p I have #[a(href="#pastwork") listed] some of the software development work I have been involved with in the past. This includes my work as as a researcher in different research group as well as my work outside academia.

block content
  h2 About: software
  div.container
    p Some more information about me and about software and about my interests
  hr

  h2(id="pastwork") Past work
  div.container.my-3.p-3.bg-white.rounded.shadow-sm
    each item in pastWork
      div.media.pt-3
        p.media-body.pb-3.mb-0.small.lh-125
          strong.d-block.text-gray-dark #{item.title}
          span !{item.description}

  h2(id="osource") Open source projects
  div.container.row
    each project in projects
      div.col-md-6.card.mb-6.shadow-sm.card-body
        h3
          a(href=project.repository) #{project.title}
        p.card-text #{project.description}
        div.d-flex.justify-content-between.align-item-center
          div.btn-group
            a.btn.btn-sm.btn-outline-secondary(href=project.documentation) Documentation
            a.btn.btn-sm.btn-outline-secondary(href=project.repository) Source code
