extends ../layout

block content
  for author_data, author_ref in library
    h4.anchored 
      a(href=`./libros/${author_ref}`) #{author_data.full_name}
    ul
      for book, idx in author_data.books
        li
          a(href=`./libros/${author_ref}#${idx}`) #{book.title}
