extends ../layout

block bodyHead
  div.row
    div.col-lg-2
      figure
        img.figure-img.img-fluid.rounded(src=author.meta.thumb)
        figcaption.figure-caption (img and text sourced from wikipedia)
    div.col-lg-10
      p #{author.meta.summary}
      p
        a(href=author.meta.wiki) Ir a Wikipedia
      p 
        a(href=`/biblioteca/${originMedia}`) Volver a #{originMedia}

block content
  ul
    for book, idx in author.books
      li
        a(href=`#${idx}`) #{book.title}

  div.list-group
    for book, idx in author.books
      div.list-group-item
        div.d-flex.w-100.justify-content-between
          h4.anchored.mb-1(id=idx) #{book.title}
          small #{book.date}
        p.mb-1
          | !{book.review}
