extends ../layout

block bodyHead
  if (pagetitle == "Libros") 
    p Hasta mediados de 2022 estuve escribiendo las reseñas en #[a(href="https://www.goodreads.com/user/show/16346384-jumax9") goodreads]. Poco a poco las iré transfiriendo aquí.
  if (pagetitle == "Videojuegos")
    p Hace tiempo intente buscar una alternativa a las listas de anime que existen (y que funcionan bastante bien) pero no conseguí encontrar nada que me convenciese. Por un tiempo (poco) probé a usar #[a(href="https://howlongtobeat.com/user?n=jumax9") HowLongToBeat] con escasos resultados. Este es otro intento de mantener una biblioteca de los juegos a los que voy jugando con pequeñas reseñas sobre ellos (principalmente lo que me venía en mente cuando lo anotaba en mi diario).

block content
  for author_data, author_ref in library
    table.table.table-hover
      thead
        tr.table-secondary
          //- By using stretched-link the parent of a becomes in its entirety a link until it finds a position-relative
          th.position-relative #{author_data.full_name} 
            a.stretched-link(href=`/biblioteca/${pagetitle.toLowerCase()}/${author_ref}`)
      tbody
        for book, idx in author_data.books
          tr
            td.justify-content-between.position-relative #{idx+1}. #{book.title}
              a.stretched-link(href=`/biblioteca/${pagetitle.toLowerCase()}/${author_ref}#${idx}`)
