extends ../layout

block extracss
  link(rel='stylesheet', href='./highlight.js/styles/default.css')

block bodyHead 
  div.row
    p Quizá llamarlo blog es muy atrevido. Se trata solo de una colección de scripts y configuraciones que he hecho para configurar mi sistema de forma que no lo olvide.
    p Si has llegado hasta aquí y echas un ojo verás a qué me refiero, la mayoría de las cosas son bastante #[a(href="blogpost?dvaonline") tontas], jueguecitos y eyecandy que no me gustaría perder si un desastre nuclear me hace perder todos mis discos duros y copias de seguridad.
    p Los "posts" de este blog están todos escritos en markdown, pues mi primera opción era hacer un repositorio con muchos readme, pero al final decidí que estaría bien jugar un poco con html y css para dejarlo todo recogido en mi propia web. Como conversor markdown-html estoy usando #[a(href="https://github.com/markdown-it/markdown-it") markdown-it].
    p Most of the content of this "blog" is written in Spanish because there is more than enough content in English in the Internet plus most (all, really) of my work is in English, so it is nice writting using my mother tongue every now and then.

block content
  div(id="accordion")
    for vals, key in registers.showall
      div.card

        div.card-header(id="head"+key)
          h2.mb-0
            button.btn.btn-light(type="button", data-toggle="collapse", data-target="#"+key, aria-expanded="true", aria-controls="collapseOne") #{key}: #{vals.brief}

        div.collapse.collapsed(data-parent="#accordion", id=key, aria-labelledby="head"+key)
          div.card-body
            for val in vals.items
              p #[a(href="blogpost?"+val) #{registers[val].title}]: #{registers[val].brief}
